/* The Modal (background) */
.modallaporan {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modallaporan-lihat,.modallaporan-edit,.modallaporan-hapus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--white-color);
  width: 80%;
  border-style: solid;
  border-radius: 25px;
}
.modallaporan-hapus{
  width: 15%;
  color: var(--grey-color);
}
.hapusFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hapusFooter > button{
  margin: 5px;
  padding: 5px;
}
.formEditLaporan{
  font-size:large;
  color: var(--grey-color);
}
.formEditRadio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formEditRadio > button{
  margin: 5px;
  padding: 5px;
}
.radioForm{
  width: 30%;
}
.formEditRadio.foot{
  justify-content: center;
}
.formEditRadio > button{
  margin: 5px;
  padding: 5px;
}

.textareaEditCatatan{
  width: 100%;
  overflow: auto;
  padding-left: 5px;
  border-style: solid;
  border-radius: 10px;
  border-color: var(--grey-color);
  margin-top: 10px;
}
.textareaEditCatatan:focus{
  color: var(--grey-color);
  outline: none;
  border-style: solid;
  border-color: var(--grey-color-light);
}
.inputLaporan{
  margin-top: 5px;
}
.inputWA,.inputWC,.inputP{
  margin-top: 10px;
  padding-left: 10px;
  border: 1px solid var(--grey-color-light);
  border-radius: 5px;
  color: var(--grey-color);
  width: 100%;
}
.inputWA:focus,.inputWC:focus,.inputP:focus{
  outline: none;
  color: var(--grey-color);
  border-color: var(--grey-color-light);
}

.btnModal.merah{
  margin-top: 5px;
  height: 60%;
  padding: 4px;
}